@import '../../styleglobal/global.scss';

.order {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    background-color:#fff;
    padding: 32px;
    h1 {
        width: 100%;
    }
    .form {
        width: 300px;
        height: 300px;
        background: #3173b7;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 16px;
        margin:0 auto;
        border-radius: 10px;
        .input-data {
            width: 100%;
            margin-top: 16px;
            margin-bottom: 16px;
            label {
                width: 130px;
                font-weight: 700;
                font-size: 20px;
                margin-right: 8px;
                color: #fff;
            }
            input {
                width: 100%;
                height: 30px;
            }
            &:nth-of-type(1) {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .options-selectors {
            margin: 2% 0 4%;
        }
        button {
            width: 30%;
            border: none;
            height: 30px;
            border-radius: 5px;
            font-weight: 700;
            font-size: 17px;
            margin-right: 8px;
            color: #494848;
        }
    }
}